.statistics {
	width: 360px;
	float: left;
	&__test {
		margin-bottom: 10px;
		min-height: 200px;
		position: relative;
		background:$container-bg;
			&-time {
				float: right;
				font-family: 'robotolight';
				font-size: 48px;
			}
	}
	&__title {
		font-size: 12px;
		font-family: 'robotobold';
		text-align: center;
		padding: 21px 0px;
	}
	&__block {
		margin-bottom: 10px;
		min-height: 230px;
		background:$container-bg;
	}
}

.statistics__test-info , .statistics__text {
	width: 320px;
	margin: 0 auto;
	border-top: 1px solid #182933;
	@include box-shadow(0px -1px 0px 0px rgba(255, 255, 255, 0.05));
	}

.select__test {
		width: 63px;
	position: absolute;
	right: 23px;
	top:18px;
	background-position: 53px center;
}

/* для маленького текста */
.statistics__text {
	padding-top: 22px;
	&-small {
		color:$grey-text ;
	}
}
.text-small {
	font : {
			family: "RobotoRegular";
			size : 9px;
		}
	width: 60px;
	line-height: 10px;
	&__percent {
		font : {
			family: "MyriadProRegular";
		   // size : 9px;
		}
			// content : ' % ';
			color: $container-bg;
			width: 17px;
			height: 17px;
			@include border-radius(50px);
			text-align: center;
			background:$grey-text;
			margin-right: 5px;
	}
	&__number {
		margin: 0px 7px 0px 19px;
		font : {
			family:  'robotobold';
			size : 24.27px;
		}

	}
}
.statistics__text-item {
	display: inline-block;
}

/* для большого текста */

.text-big {
		vertical-align: top;
		padding-top: 19px;
		width: 93px;
		font : {
			family:  'robotoregular';
			size : 14px;
		}
		line-height: 16px;
		color: $main-blue;
		&__percent {
		font : {
			family: "MyriadProRegular";
		   // size : 9px;
		}
			color: $container-bg;
			width: 42px;
			height: 42px;
			@include border-radius(50px);
			text-align: center;
			background: $main-blue;
			margin-right: 4px;
	}
	&__number {
		font : {
			family:  'robotolight';
			size : 60px;
		}
		margin: 0px 17px 0px 17px;
		line-height: 64px;
	}
}

