/* --------- base --------- */

html {
    width:100%;
    height:100%;
}

body {
    width:100%;
    height:100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input, textarea {
    outline: none;
    border: none;
}

ul {
    padding: 0;
    margin: 0;

    li {
        padding: 0;
        left: 0;
        list-style: none outside none;
    }
}

p {
    padding: 0;
    margin: 0;
}

/* --------- adjustment --------- */

$container-width:           999px;
$footer-height:             172px;

.container {
    width: $container-width ;
    margin: 0 auto;
    position: relative;
}

body {
    background-color:$wrapper-bg;
    color: white;
}

.wrapper {
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    overflow: hidden;
    min-width: $container-width + 20;
}

.main-content {
    margin-bottom: 172px;
    min-height: 920px;
}


