.order-list {
	float: right;
	width: 630px;
	position: relative;
	background: $container-bg;
	min-height: 920px;
		&__title {
			padding: 20px 0px;
			text-align: center;
			font : {
				family: 'robotobold';
				size : 12px;
			}
			text-transform: uppercase;
		}
}
.select__order {
	position: absolute;
	right: 13px;
	top: 18px;
}
