@font-face {
	font-family: "MyriadProRegular";
	src: url("../fonts/MyriadProRegular.eot");
	src: url("../fonts/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/MyriadProRegular.woff") format("woff"),
	url("../fonts/MyriadProRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoRegular.woff") format("woff"),
	url("../fonts/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'arialregular';
	src: url('../fonts/arialregular-webfont.eot');
	src: url('../fonts/arialregular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/arialregular-webfont.woff2') format('woff2'),
		 url('../fonts/arialregular-webfont.woff') format('woff'),
		 url('../fonts/arialregular-webfont.ttf') format('truetype'),
		 url('../fonts/arialregular-webfont.svg#arialregular') format('svg');
	font-weight: normal;
	font-style: normal;

}


@font-face {
	font-family: 'robotoblack';
	src: url('../fonts/roboto-black-webfont.eot');
	src: url('../fonts/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/roboto-black-webfont.woff2') format('woff2'),
		 url('../fonts/roboto-black-webfont.woff') format('woff'),
		 url('../fonts/roboto-black-webfont.ttf') format('truetype'),
		 url('../fonts/roboto-black-webfont.svg#robotoblack') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'robotobold';
	src: url('../fonts/roboto-bold-webfont.eot');
	src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
		 url('../fonts/roboto-bold-webfont.woff') format('woff'),
		 url('../fonts/roboto-bold-webfont.ttf') format('truetype'),
		 url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'robotolight';
	src: url('../fonts/roboto-light-webfont.eot');
	src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/roboto-light-webfont.woff2') format('woff2'),
		 url('../fonts/roboto-light-webfont.woff') format('woff'),
		 url('../fonts/roboto-light-webfont.ttf') format('truetype'),
		 url('../fonts/roboto-light-webfont.svg#robotolight') format('svg');
	font-weight: normal;
	font-style: normal;

}


@font-face {
	font-family: 'robotoregular';
	src: url('../fonts/roboto-regular-webfont.eot');
	src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
		 url('../fonts/roboto-regular-webfont.woff') format('woff'),
		 url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
		 url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
	font-weight: normal;
	font-style: normal;

}