/* ---- ПЕРЕМЕННЫЕ ----- */

$header-bg:							#0a1216;
$wrapper-bg:						#0e181e;
$container-bg:						#203541;

$main-blue:							#00aeef;
$table-nth:							#28404e;
$grey-text:							#6d767b;
$marking-bg:						#182933;

$graph-square-darkblue:				#254559;
$chart-darkblue:					#1a2a34;
$chart-black:						#121e25;

