extends ../layouts/main_layout.jade

block title
	title REES

block content
			.container
				include ../common/graphics.jade
				.main-content
					include ../common/aside.jade
					section.order-list
						.order-list__title
							span.order-list__title-text список заказов за
							span.order-list__title-data число

						div(id="dd" class="wrapper-dropdown" tabindex="1")
								span все заказы
								ul.dropdown
									li
										a(href="#") все заказы
									li.only()
										a(href="#") только рекомендованные

						.order-list__line
						.filters
							label(for='is_recommended') рекомендованные
								input(type="checkbox" id="is_recommended" value="1")
						table.order-list__table(id="my-ajax-table")
							thead
								tr.order-list__table-title
									th ID заказа
									th Время
									th ID пользователя
									th Обычных
									th Рекомендованных
							//table.order-list__table(id="my-ajax-table")
							tbody



