extends ../layouts/main_layout.jade

block title
	title REES

block content
			.container
				include ../common/graphics.jade
				.main-content
					include ../common/aside.jade
					section.order-list
						.order-list__title
							span.order-list__title-text список заказов за
							span.order-list__title-data число
						//select.select.select__order
								//each items in [" все заказы  ", " только рекомендованные " ]
								option.select-choose все заказы
								option.select-choose__recomend только рекомендованные
						div(id="dd" class="wrapper-dropdown" tabindex="1")
								span все заказы
								ul.dropdown
									li
										a(href="#") все заказы
									li.only
										a(href="#") только рекомендованные

						.order-list__line
						div.show
							select(id="how_match")
								option(value="week") 7 дней
								option(value="two_week") 14 дней
								option(value="all") Все
						div.days
							ul(id="days_list")
						div.filters
							label(for='is_recommended')
								input(type="checkbox" id="is_recommended" value="1")
						table.order-list__table(id="my-ajax-table")
							thead
								tr.order-list__table-title
									th ID заказа
									th Время
									th ID пользователя
									th Обычных
									th Рекомендованных
							//table.order-list__table(id="my-ajax-table")
							tbody



