extends ../layouts/main_layout.jade

block title
	title REES

block content
			.container
				include ../common/graphics.jade
				.main-content
					include ../common/aside.jade
					section.order-list
						.order-list__title
							span.order-list__title-text список заказов за
							span.order-list__title-data число
						//select.select.select__order
								//each items in [" все заказы  ", " только рекомендованные " ]
								option.select-choose все заказы
								option.select-choose__recomend только рекомендованные
						div(id="dd" class="wrapper-dropdown" tabindex="1")
								span все заказы
								ul.dropdown
									li
										a(href="#") все заказы
									li.only
										a(href="#") только рекомендованные

						.order-list__line
						table.order-list__table(id="my-ajax-table")
							tr.order-list__table-title
								th ID заказа
								th Время
								th ID пользователя
								th Обычных
								th Рекомендованных
							tr