extends ../layouts/main_layout.jade

block title
	title REES

block content
			.container
				include ../common/graphics.jade
				.main-content
					include ../common/aside.jade
					section.order-list
						.order-list__title
							span.order-list__title-text список заказов за
							span.order-list__title-data какое то число
						select.select.select__order
							each items in [" ВСЕ ЗАКАЗЫ  ", " ТОЛЬКО РЕКОМЕНДОВАННЫЕ " ]
								option.select-choose= items
