extends ../layouts/main_layout.jade

block title
	title REES

block content
			.container
				include ../common/graphics.jade
				include ../common/aside.jade
				section.order-list
					.order-list__title
					select.select
						each items in [" ВСЕ ЗАКАЗЫ  ", " ТОЛЬКО РЕКОМЕНДОВАННЫЕ " ]
							option.select-choose= items
