aside.statistics
	section.statistics__test
		.statistics__title А/В ТЕСТ
			select.select
				option.select-choose СТАТУС
		.statistics__test
			.statistics__test-switch
			.statistics__test-time 1Д 23:18
	section.statistics__block
		.statistics__title КОНВЕРСИЯ
		.statistics__text
			.statistics__text-small
				span.text-small__number 3.0
				p.text-small Стандартная конверсия
			.statistics__text-big
				span.text-big__number 3.6
				p.text-big ДОСТИГНУТО С REES46
	section.statistics__block
		.statistics__title СРЕДНИЙ ЧЕК
		.statistics__text
			.statistics__text-small
				span.text-small__number 1600
				p.text-small Средняя сумма чека
			.statistics__text-big
				span.text-big__number 1680
				p.text-big ДОСТИГНУТО С REES46
	section.statistics__block
		.statistics__title ВЫРУЧКА
		.statistics__text
			.statistics__text-small
				span.text-small__number 3.6М
				p.text-small Стандартная выручка
			.statistics__text-big
				span.text-big__number 3.7М
				p.text-big ДОСТИГНУТО С REES46