aside.statistics
	section.statistics__test
		.statistics__title А/В ТЕСТ
		select.select.select__test
			option.select-choose СТАТУС
		.statistics__test-info
			.statistics__test-switch--wrap
				.statistics__test-switch
					input.test-switch__input(type="radio" name="switch" id="switch-on" checked)
					input.test-switch__input(type="radio" name="switch" id="switch-off")
					label.test-switch__label-on(for="switch-on") Включен
					label.test-switch__label-off(for="switch-off") Выключен
					span.test-switch__toggle
			.statistics__test-time 1Д 23:18
	section.statistics__block
		.statistics__title КОНВЕРСИЯ
		.statistics__text
			ul.statistics__text-small
				li.statistics__text-item.text-small__number 3.0
				li.statistics__text-item.text-small__percent-wrap
					a.text__percent.text-small__percent(href="#") %
				li.statistics__text-item.text-small Стандартная конверсия
			ul.statistics__text-big
				li.statistics__text-item.text-big__number 3.6
				li.statistics__text-item.text-big__percent-wrap
					a.text__percent.text-big__percent(href="#") %
				li.statistics__text-item.text-big ДОСТИГНУТО С REES46
	section.statistics__block
		.statistics__title СРЕДНИЙ ЧЕК
		.statistics__text
			ul.statistics__text-small
				li.statistics__text-item.text-small__number	1600
				li.statistics__text-item.text-small__percent-wrap
					a.text__percent.text-small__percent(href="#") %
				li.statistics__text-item.text-small Средняя сумма чека
			ul.statistics__text-big
				li.statistics__text-item.text-big__number 1680
				li.statistics__text-item.text-big__percent-wrap
					a.text__percent.text-big__percent-rub(href="#") руб
				li.statistics__text-item.text-big ДОСТИГНУТО С REES46
	section.statistics__block
		.statistics__title ВЫРУЧКА
		.statistics__text
			ul.statistics__text-small
				li.statistics__text-item.text-small__number	3.5M
				li.statistics__text-item.text-small__percent-wrap
					a.text__percent.text-small__percent(href="#") %
				li.statistics__text-item.text-small Стандартная выручка
			ul.statistics__text-big
				li.statistics__text-item.text-big__number 3.7М
				li.statistics__text-item.text-big__percent-wrap
					a.text__percent.text-big__percent-rub(href="#") руб
				li.statistics__text-item.text-big ДОСТИГНУТО С REES46
