section.graphics
		.graphics__display
			.container
				.graphics__display-sales
					.display-sales__title ОТНОШЕНИЯ ОБЪЁМОВ ПРОДАЖ
					.display-sales__cicles
						canvas(id="Canvas_one" width="100" height="100" data-values='')
						canvas(id="Canvas_two" width="100" height="100" data-values='')
						canvas(id="Canvas_three" width="100" height="100" data-values='')
					p.display-sales__text На графиках отображаются прирост продаж за счёт внедрения модуля Rees46
				.graphics__display-efficiency
					.display-efficiency__title ТЕКУЩАЯ ЭФФЕКТИВНОСТЬ
					select.select.display-efficiency__select
								option.select-choose за 1 неделю
								option(selected).select-choose за 2 недели
								option.select-choose вся история
					.display-efficiency__chart

		.graphics__marking
					ul.graphics__marking-list
									a.graphics__marking-square.graphics__marking-square--grey
									li.graphics__marking-item
										a.graphics__marking-link(href="#") обычная продажа
									a.graphics__marking-square.graphics__marking-square--blue
									li.graphics__marking-item
										a.graphics__marking-link(href="#") продажа по рекомендациям
									a.graphics__marking-square.graphics__marking-square--white
									li.graphics__marking-item
										a.graphics__marking-link(href="#") обычная продажа
