head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		block title
			title name
		//-seo
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(name="author", content="")


		// build:css css/vendor.min.css
		// bower:css

		// endbower
		// endbuild
		// build:css css/style.min.css
		link(rel='stylesheet', href='css/main.css')
		//endbuild


