header.header
		.container
			.header__logo
				.header__logo-bigtext rees46
				.header__logo-text DASHBOARD
			.header__settings
				.header__settings-cogwheel Настройки
				ul.header__settings-panel
					each items in ["Админка", "Выйти"]
						li.settings-panel__item
							a.settings-panel__link(href="#")= items






