// build:js js/vendor.min.js
// bower:js
script(src='bower/jquery/dist/jquery.js')
// endbower
// endbuild



// build:js js/main.min.js
script(src='js/main.js')
script(src='js/canvas.js')
// endbuild

// build:js js/plugins.js
// endbuild